/**
 * For The regular Helvetica Neue Font
 *
 * Used for most text on the page.
 */
@font-face {
	 font-family: "HelveticaNeue";
	         src: url('./font/HelveticaNeue-Light.otf');
	font-stretch: normal;
	 font-weight: normal;
	  font-style: normal;
}

@font-face {
	 font-family: "HelveticaNeue";
	         src: url('./font/HelveticaNeue-Light.otf');
	font-stretch: normal;
	 font-weight: bold;
	  font-style: normal;
}

/**
 *  For Unispaced Code Fonts
 */
@font-face {
	font-family: "Menlo";
	src: url('./font/Menlo.ttc');
	font-weight: normal;
	font-style: normal;
}



nav {
	background-color: rgb(255, 108, 60);
	margin-top: 0px;
	color: white;
	padding: 5px;
	font-family: HelveticaNeue; 
    
    padding-top: 15px;
    padding-bottom: 15px;
}

nav h1 {
    padding-left: 1em;
}

#links {
	float: right;
	display: inline;
	word-spacing: 20px;
	color: rgb(255, 201, 183);
    padding-right: 2em;
}


#selected {
	color: white;
}

#aboutus {
	word-spacing: 0px;
	display: inline;
}

.sidepictures {
	position: absolute;
	top: 142.15625px;
	z-index: -1;
	left: 100px;
}

#mainpicture {
	position: absolute;
	left: 300px;
	top: 126px;
}

#maintext {
	width: 50%;
	float: right;
    margin-top: 200px;
}

#download {
	padding-left: 20px;
	display: inline;
}

#thebeginning {
	color: rgb(255, 108, 60);
}

#thebeginning, #theend {
    margin-left: 2em;
    margin-right: 2em;
}


footer {
	background-color: rgb(232, 232, 232);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: .75em;
    padding-bottom: .75em;
}

footer p {
    padding-left: 2em;
    color: rgb(160, 160, 160);
}

footer p:hover {
    color: rgb(0, 0, 0);
}

content {
    background-color: rgb(247, 247, 247);  
}

#pic1 {
	padding-left: 200px;
	-webkit-animation-delay: .5s;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: slideoutone;
	-webkit-animation-fill-mode: forwards;
}


#pic3 {
	padding-left: 200px;
	-webkit-animation-delay: .5s;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: slideoutthree;
	-webkit-animation-fill-mode: forwards;
}

#allpictures {
	width: 50%;
}

@-webkit-keyframes slideoutone {
	from {
		padding-left: 200px;
		-webkit-animation-delay: .5s;
	}
	to {
		padding-left: 50px;
	}
}

@-webkit-keyframes slideoutthree {
	from {
      padding-left: 200px;
      -webkit-animation-delay: .5s;
 	}
	to {
		padding-left: 350px;
	}
}

h1 {
	font-family: HelveticaNeue;
	font-weight: bold;
	display: inline;
}

h2 {
	display: inline;
	font-family: HelveticaNeue;
	font-weight: normal;
}

h3 {
	font-weight: normal;
}

body {
	margin: 0px;
	font-family: HelveticaNeue;
	font-weight: normal;
    background-color: rgb(247, 247, 247);  
}
